.card{
    border-radius:20px !important;
    overflow:hidden;
    border:none !important;
    transition:.35s;
    box-shadow:0 5px 20px rgba(0,0,0,.15) !important;
}

.card:hover{
    transform:translateY(-12px) scale(1.03);
    box-shadow:0 15px 35px rgba(0,0,0,.3) !important;
}

.card-img-top{
    height:320px;
    object-fit:cover;
    transition:.35s;
}

.card:hover .card-img-top{
    transform:scale(1.08);
}

.card-body{
    background:#fafafa;
}

.card-title{
    color:#198754;
    font-size:20px;
    font-weight:700;
}

.card .text-muted{
    color:#0d6efd !important;
    font-weight:600;
}

.card .text-danger{
    color:#ff3b30 !important;
    font-size:24px;
}

.btn-success{
    background:#198754;
    border-radius:50px;
}

.btn-outline-success{
    border-radius:50px;
}
body{
    background:rgb(0, 217, 255) !important;
}
